defaults: &defaults
  working_directory: ~/repo
  docker:
    - image: circleci/node:10.9.0

set-env: &set-env
  name: set-env
  command: |
    if [ "${CIRCLE_BRANCH}" == "master" ]; then
      export ENV="prod"
    elif [ "${CIRCLE_BRANCH}" == "test" ]; then
      export ENV="test"
    else
      export ENV="dev"
    fi
    echo $ENV

version: 2
jobs:
  build:
    <<: *defaults
    steps:
      
      - checkout
      - attach_workspace:
          at: ~/repo
      # Download and cache dependencies
      - restore_cache:
          keys:
          - v1-dependencies-{{ checksum "package.json" }}
          # fallback to using the latest cache if no exact match is found
          - v1-dependencies-
      - run: *set-env
      - run:
          name: npm-install
          command: npm install
      - save_cache:
          paths:
            - node_modules
          key: v1-dependencies-{{ checksum "package.json" }}
      - persist_to_workspace:
          root: .
          paths: .
  deploy:
    <<: *defaults
    steps:
      - attach_workspace:
          at: ~/repo
      - run:
          name: Avoid hosts unknown for github
          command: mkdir ~/.ssh/ && echo -e "Host github.com\n\tStrictHostKeyChecking no\n" > ~/.ssh/config
      - run:
          name: config-global
          command: touch ~/.gitconfig && git config --global -l
      - run:
          name: config-global-email
          command: git config --global user.email circleci@circleci
      - run:
          name: config-global-name
          command: git config --global user.name CircleCI
      - run: 
          name: deploy
          command: npm run deploy

workflows:
  version: 2
  build-deploy:
    jobs:
      - build:
          filters:
            branches:
              ignore:
                gh-pages
      - deploy:
          requires:
            - build
          filters:
            branches:
              only: master