html {
  height: 100%;
}
body {
  margin: 20px auto;
  width: 80%;
  height: 100%;
  font-family: sans-serif;

}

header h2 {
  text-align: center;
  margin: 20px auto;
}

pre {
  background: #f7f7f7;
  padding: 10px 20px;
  border-radius: 2px;
  border: 1px solid #ccc;
}

pre code {
  line-height: 20px;
}

.result {
  padding: 8px 0;
}

.type-container {
  color: #fff;
  /* border-radius: 5px; */
  padding: 10px;
  /* font-size: 150%; */
}

.artist {
  grid-column: col 1 / span 2;
  grid-row: row 1;
}

.artist-item {
  /* float: left;
  width: 40%; */
  float: left;
  margin-top: 16px;
  width: 100%;
  color: #fff;
  
}

.genre {
  grid-column: col 3/ span 2;
  grid-row: row 1;
  background-color: #444;
  color: #fff;
}

.artist-genre {
  grid-column: col 1 / span 4;
  grid-row: row 1;

  display: grid;
  grid-column-gap: 2%;
  grid-row-gap: 2%;
  grid-template-columns: repeat(4, [col] 23.5% ) ;
  grid-template-rows: repeat(1, [row] auto  );
}

.genre-form {
  float: left;
  font-weight: bold;
}

.outer-grid {
  display: grid;
  grid-column-gap: 2%;
  grid-row-gap: 2%;
  grid-template-columns: repeat(2, [col] 49% ) ;
  grid-template-rows: repeat(2, [row] auto  );
  height: 500px;
}

.search-grid {
  grid-column: col 1 / span 2;
  grid-row: row 1;
  grid-gap: 10%;
  grid-template-columns: 1fr 1fr;

  background-color: #444;
  color: #fff;
  display: grid;
  grid-column-gap: 2%;
  grid-row-gap: 2%;
  grid-template-columns: repeat(4, [col] 23.5% ) ;
  grid-template-rows: repeat(3, [row] auto  );
  height: auto;
}

.recommendations-block {
  grid-column: col 1 / span 2;
  grid-row: row 3;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 1fr 1fr;
  overflow: scroll;


  display: grid;
  grid-column-gap: 2%;
  grid-row-gap: 2%;
  grid-template-columns: repeat(4, [col] 23.5% ) ;
  grid-template-rows: repeat(6, [row] auto  );
  background-color: #444;
  color: #fff;
  height: 500px;
  padding: 5%
}

.result-item {
  grid-column: col 1 / span 4;
  text-align: left;
  color: rgb(201, 243, 192);
}

.search {
  grid-column: col 4 / span 1;
  grid-row: row 3;
  background-color: #fff
}

.attributes  {
  grid-column: col 1 / span 4;
  grid-row: row 2;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(4, 1fr);
}

.info-container {
  /* grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: row1-start;
  grid-row-end: 3; */
  margin: 5%
}

.attribute {
  float: left;
}
/* 
.attribute-container {
  overflow: auto;
  margin-bottom: 10%;
  grid-template-columns: 40px 50px auto 50px 40px;
  grid-template-rows: 25% 100px auto
} */

.attribute-slider {
  float: left;
}

.attribute-name {
  /* float: left;
  width: 40%; */
  float: left;
  margin: 10px;
}

/* p.attribute-name + p.attribute-description {
    display: block;
} */

.attribute-value {
  float: right;
  width: 15%;
  margin-left: 5%;
  padding: 5px 0px 10px 5px;
  border-radius: 10px
}
/* 
.attribute-description {
  margin: 20px;
  width: 55%;
  float: left;
  display: none;
} */

.artistSearch {
  border: 1px solid #ccc;
  border-radius: 2px;
  box-sizing: border-box;
  color: #fff;

  padding: 8px 8px;

  width: 50%;
  margin: auto;
  font-weight: bold;
  font-size:14px
}

.artistButton {
  position: relative;
  padding: 10px 20px;
  margin: 10px auto;
}

@media screen and (max-width: 480px) {
  .search-grid {
    grid-column: col 1 / span 2;
    grid-row: row 1
  }
  .recommendations-block {
    grid-column: col 1 / span 2;
    grid-row: row 2
  }
  body {
    width: 90%
  }
}

.Dropdown-root {
  position: relative;
}

.Dropdown-control {
  position: relative;
  overflow: hidden;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 2px;
  box-sizing: border-box;
  color: #333;
  cursor: default;
  outline: none;
  padding: 8px 52px 8px 10px;
  transition: all 200ms ease;
  width: 60%;
  margin: auto;
  
}

.Dropdown-control:hover {
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.06);
}

.Dropdown-arrow {
  border-color: #999 transparent transparent;
  border-style: solid;
  border-width: 5px 5px 0;
  content: ' ';
  display: block;
  height: 0;
  margin-top: -ceil(2.5);
  position: absolute;
  right: 10px;
  top: 14px;
  width: 0
}

.is-open .Dropdown-arrow {
  border-color: transparent transparent #999;
  border-width: 0 5px 5px;
}

.Dropdown-menu {
  background-color: white;
  border: 1px solid #ccc;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.06);
  box-sizing: border-box;
  margin-top: -1px;
  max-height: 200px;
  overflow-y: auto;
  position: absolute;
  top: 100%;
  width: 100%;
  z-index: 1000;
  -webkit-overflow-scrolling: touch;
}

.Dropdown-menu .Dropdown-group > .Dropdown-title {
  padding: 8px 10px;
  color: rgba(51, 51, 51, 1.2);
  font-weight: bold;
  text-transform: capitalize;
}

.Dropdown-option {
  box-sizing: border-box;
  color: rgba(51, 51, 51, 0.8);
  cursor: pointer;
  display: block;
  padding: 8px 10px;
}

.Dropdown-option:last-child {
  border-bottom-right-radius: 2px;
   border-bottom-left-radius: 2px;
}

.Dropdown-option:hover {
  background-color: #f2f9fc;
  color: #333;
}

.Dropdown-option.is-selected {
  background-color: #f2f9fc;
  color: #333;
}

.Dropdown-noresults {
  box-sizing: border-box;
  color: #ccc;
  cursor: default;
  display: block;
  padding: 8px 10px;
}

.my-custom-class {
  font-weight: bold;
  color: purple;
}



/**
 * Tooltip Styles
 */

/* Base styles for the element that has a tooltip */
[data-tooltip],
.tooltip {
  position: relative;
  cursor: pointer;
}

/* Base styles for the entire tooltip */
[data-tooltip]:before,
[data-tooltip]:after,
.tooltip:before,
.tooltip:after {
  position: absolute;
  visibility: hidden;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  -webkit-transition: 
	  opacity 0.2s ease-in-out,
		visibility 0.2s ease-in-out,
		-webkit-transform 0.2s cubic-bezier(0.71, 1.7, 0.77, 1.24);
	-moz-transition:    
		opacity 0.2s ease-in-out,
		visibility 0.2s ease-in-out,
		-moz-transform 0.2s cubic-bezier(0.71, 1.7, 0.77, 1.24);
	transition:         
		opacity 0.2s ease-in-out,
		visibility 0.2s ease-in-out,
		transform 0.2s cubic-bezier(0.71, 1.7, 0.77, 1.24);
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform:    translate3d(0, 0, 0);
  transform:         translate3d(0, 0, 0);
  pointer-events: none;
}

/* Show the entire tooltip on hover and focus */
[data-tooltip]:hover:before,
[data-tooltip]:hover:after,
[data-tooltip]:focus:before,
[data-tooltip]:focus:after,
.tooltip:hover:before,
.tooltip:hover:after,
.tooltip:focus:before,
.tooltip:focus:after {
  visibility: visible;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}

/* Base styles for the tooltip's directional arrow */
.tooltip:before,
[data-tooltip]:before {
  z-index: 1001;
  border: 6px solid transparent;
  background: transparent;
  content: "";
}

/* Base styles for the tooltip's content area */
.tooltip:after,
[data-tooltip]:after {
  z-index: 1000;
  padding: 8px;
  width: 160px;
  background-color: #000;
  background-color: hsla(0, 0%, 20%, 0.9);
  color: #fff;
  content: attr(data-tooltip);
  font-size: 14px;
  line-height: 1.2;
}

/* Directions */

/* Top (default) */
[data-tooltip]:before,
[data-tooltip]:after,
.tooltip:before,
.tooltip:after,
.tooltip-top:before,
.tooltip-top:after {
  bottom: 100%;
  left: 50%;
}

[data-tooltip]:before,
.tooltip:before,
.tooltip-top:before {
  margin-left: -6px;
  margin-bottom: -12px;
  border-top-color: #000;
  border-top-color: hsla(0, 0%, 20%, 0.9);
}

/* Horizontally align top/bottom tooltips */
[data-tooltip]:after,
.tooltip:after,
.tooltip-top:after {
  margin-left: -80px;
}

[data-tooltip]:hover:before,
[data-tooltip]:hover:after,
[data-tooltip]:focus:before,
[data-tooltip]:focus:after,
.tooltip:hover:before,
.tooltip:hover:after,
.tooltip:focus:before,
.tooltip:focus:after,
.tooltip-top:hover:before,
.tooltip-top:hover:after,
.tooltip-top:focus:before,
.tooltip-top:focus:after {
  -webkit-transform: translateY(-12px);
  -moz-transform:    translateY(-12px);
  transform:         translateY(-12px); 
}

/* Left */
.tooltip-left:before,
.tooltip-left:after {
  right: 100%;
  bottom: 50%;
  left: auto;
}

.tooltip-left:before {
  margin-left: 0;
  margin-right: -12px;
  margin-bottom: 0;
  border-top-color: transparent;
  border-left-color: #000;
  border-left-color: hsla(0, 0%, 20%, 0.9);
}

.tooltip-left:hover:before,
.tooltip-left:hover:after,
.tooltip-left:focus:before,
.tooltip-left:focus:after {
  -webkit-transform: translateX(-12px);
  -moz-transform:    translateX(-12px);
  transform:         translateX(-12px); 
}

/* Bottom */
.tooltip-bottom:before,
.tooltip-bottom:after {
  top: 100%;
  bottom: auto;
  left: 50%;
}

.tooltip-bottom:before {
  margin-top: -12px;
  margin-bottom: 0;
  border-top-color: transparent;
  border-bottom-color: #000;
  border-bottom-color: hsla(0, 0%, 20%, 0.9);
}

.tooltip-bottom:hover:before,
.tooltip-bottom:hover:after,
.tooltip-bottom:focus:before,
.tooltip-bottom:focus:after {
  -webkit-transform: translateY(12px);
  -moz-transform:    translateY(12px);
  transform:         translateY(12px); 
}

/* Right */
.tooltip-right:before,
.tooltip-right:after {
  bottom: 50%;
  left: 100%;
}

.tooltip-right:before {
  margin-bottom: 0;
  margin-left: -12px;
  border-top-color: transparent;
  border-right-color: #000;
  border-right-color: hsla(0, 0%, 20%, 0.9);
}

.tooltip-right:hover:before,
.tooltip-right:hover:after,
.tooltip-right:focus:before,
.tooltip-right:focus:after {
  -webkit-transform: translateX(12px);
  -moz-transform:    translateX(12px);
  transform:         translateX(12px); 
}

/* Move directional arrows down a bit for left/right tooltips */
.tooltip-left:before,
.tooltip-right:before {
  top: 3px;
}

/* Vertically center tooltip content for left/right tooltips */
.tooltip-left:after,
.tooltip-right:after {
  margin-left: 0;
  margin-bottom: -16px;
}
